.row
  .col-md-3.col-lg-3.col-lg-offset-3
    .text-center
      = render file: 'microposts/new'
%table.table.table-striped
  %thead
    %tr
      %th #
      %th Content
      %th Created at
      %th Create by user
  %tbody
    - microposts.each_with_index do |micropost, i|
      %tr
        %td= i+1
        %td= micropost.content
        %td= micropost.decorate.creation_date
        %td= micropost.user.name
        %td
          = link_to micropost_path(micropost), { method: :delete, title: t('shared.delete') } do
            %button.btn.btn-default
              = fa_icon "times"
